@model IEnumerable<beautysoft.Models.Citas>

@{
    ViewData["Title"] = "Citas | Beautysoft";
}

<h1>Citas</h1>

<div class="container-boton">
    <a class="boton-funcional" asp-action="Create">Nueva cita</a>
</div>
<div class="container-cita">
    @foreach (var item in Model) {
    <div class="card-cita">
        <div class="card-head">
            <h3 class="text-head-card">
                    Cita de: 
            </h3>
                <h3>@Html.DisplayFor(modelItem => item.ClienteNombre)</h3>
        </div>
        <div class="datos">
            <ul class="datos-cita">
                <li>
                        <span><i class="fa-solid fa-scissors" style="color: #ffffff;"></i> Estilista: @Html.DisplayFor(modelItem => item.EstilistaNombre)</span>
                </li>
                <li>
                        <span><i class="fa-solid fa-check" style="color: #ffffff;"></i> Servicio: @Html.DisplayFor(modelItem => item.ServicioNombre)</span>
                </li>
                <li>
                    <span><i class="fa-solid fa-money-bill" style="color: #ffffff;"></i> Valor aprox: @item.Precio</span>
                </li>
                <li>
                        <span><i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i> Fecha: @item.Fecha </span>
                </li>
                <li>
                        <span><i class="fa-solid fa-bell" style="color: #ffffff;"></i> Hora: @Html.DisplayFor(modelItem => item.Hora)</span>
                </li>
            </ul>
        </div>
        <footer class="card-foot">
                <a asp-action="Edit" asp-route-id="@item.IdCita">Editar</a>
                <a asp-action="Details" asp-route-id="@item.IdCita">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.IdCita">Eliminar</a>
        </footer>
    </div>
    }
</div>


